/*after bootstrap*/

  .section__pic-container {
    display: flex;
    justify-content: center;
    height: 400px;
}

.pic-container {
    display: flex;
    justify-content: center;
}

.about-detail {
    padding: 1.5rem;
    background: white;
    border-radius: 2rem;
    border: 0.1rem solid rgb(163, 163, 163);
    max-width: 300px;
    width: 100%;     
    white-space: normal; 
    text-align: center; 
    margin: 1rem auto;
}

.button {
  font-weight: 600 !important;
  transition: all 300ms ease !important;
  padding: 1rem !important;
  width: 10rem !important;
  border-radius: 2rem !important;
}

.button-color-1,
.button-color-2 {
  border: rgb(53, 53, 53) 0.1rem solid !important;
}

.button-color-2:hover {
  cursor: pointer !important;
}

.button-color-2:hover {
  background: rgb(53, 53, 53) !important;
  color: white !important;
}



.button-color-2 {
  background: none !important;
}

.button-color-2:hover {
  border: rgb(255, 255, 255) 0.1rem solid !important;
}

/* Responsive adjustments */
@media (max-width: 768px) {
    .section__pic-container {
        height: 400px; /* Adjusts height for smaller screens */
    }

    .about-detail {
        max-width: 100%; /* Allows full width on smaller screens */
    }
}
@media (max-width: 425px) {
  .section__pic-container {
      height: auto; /* Adjusts height for smaller screens */
  }
}


