<section class="py-5">
    <div class="container">
        <div class="row  p-4 rounded">
            <!-- Contact Information Column -->
            <div class="col-md-6  p-4 rounded mb-4 mb-md-0">
                <h3 class="mb-5 title">Contact</h3>
                <ul class="list-unstyled">
                    <li class="mb-5">
                        <i class="fa fa-phone fa-2x me-2" aria-hidden="true"></i>
                        <span><a href="tel:(+92)3361641877" target="_blank">0336-1641877</a></span>
                    </li>
                    <li class="mb-5">
                        <i class="fa fa-envelope fa-2x me-2" aria-hidden="true"></i>
                        <span><a href="mailto:wa.ahmad1999&#64;gmail.com">wa.ahmad1999&#64;gmail.com</a></span>
                    </li>
                    <li class="mb-5">
                        <i class="fa fa-linkedin fa-2x me-2" aria-hidden="true"></i>
                        <span><a href="https://www.linkedin.com/in/waqar-ahmad-59075a252" target="_blank">Waqar Ahmad</a></span>
                    </li>
                    <li class="mb-5">
                        <i class="fa fa-github fa-2x me-2" aria-hidden="true"></i>
                        <span><a href="https://github.com/WaqarAhmad30" target="_blank">WaqarAhmad30</a></span>
                    </li>
                </ul>
            </div>

            <!-- Contact Form Column -->
            <div class="col-md-6 bg-black p-4 rounded text-white">
                <form>
                    <!-- First and Last Name -->
                    <div class="row mb-4">
                        <div class="col">
                            <div class="form-outline">
                                <label class="form-label" for="form6Example1">First Name</label>
                                <input type="text" id="form6Example1" class="form-control" />
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-outline">
                                <label class="form-label" for="form6Example2">Last Name</label>
                                <input type="text" id="form6Example2" class="form-control" />
                            </div>
                        </div>
                    </div>

                    <!-- Email input -->
                    <div class="form-outline mb-4">
                        <label class="form-label" for="form6Example5">Email</label>
                        <input type="email" id="form6Example5" class="form-control" />
                    </div>

                    <!-- Phone input -->
                    <div class="form-outline mb-4">
                        <label class="form-label" for="form6Example6">Phone</label>
                        <input type="number" id="form6Example6" class="form-control" />
                    </div>

                    <!-- Message input -->
                    <div class="form-outline mb-4">
                        <label class="form-label" for="form6Example7">Additional Information</label>
                        <textarea class="form-control" id="form6Example7" rows="4"></textarea>
                    </div>

                    <!-- Submit button -->
                    <button type="submit" class="btn btn-light btn-block">Submit</button>
                </form>
            </div>
        </div>
    </div>
</section>
