<div class="carousel-container1">
  <button class="carousel-control1 prev" (click)="prevSlide()">&#10094;</button>
  <div class="carousel-slides1">
    <div
      class="carousel-item1"
      *ngFor="let project of visibleProjects"
    >
      <div class="details-container1 color-container1">
        <div class="article-container1">
          <img [src]="project.image" [alt]="project.title" class="project-img1" />
        </div>
        <h2 class="experience-sub-title1 project-title1">{{ project.title }}</h2>
        <div class="btn-container1">
          <button
            class="btn1 btn-color-21 project-btn1"
            (click)="openLink(project.githubLink)"
          >
            Github
          </button>
          <button
            class="btn1 btn-color-21 project-btn1"
            (click)="openLink(project.demoLink)"
          >
            Live Demo
          </button>
        </div>
      </div>
    </div>
  </div>
  <button class="carousel-control1 next" (click)="nextSlide()">&#10095;</button>
</div>