.project-detail-card {
  background-color: #fff;
  border-radius: 1rem;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.carousel-item img {
  height: 300px;
  object-fit: cover;
}

.card-body {
  padding: 1.5rem;
}

.card-title {
  font-size: 1.75rem;
  font-weight: bold;
  color: #333;
}

.card-text {
  margin-bottom: 1rem;
  color: #555;
}

.list-group-item {
  background-color: transparent;
  border: none;
  padding-left: 0;
  color: #555;
}

.card-footer {
  background-color: transparent;
  border-top: none;
}
