<section class="container m-t-b">
<div class="row pt-2 flex-wrap-reverse">
  <div class="col-lg-5 pic-container p-4">
    <div class="section__pic-container">
      <img src="assets/waqar1.webp" alt="Profile picture" class="img-fluid" style="border-radius: 2rem;" />
    </div>
  </div>
  <div class="col-lg-7 p-4 text-center">
    <h1 class="title p-2">Introduction</h1>
    <p>
      As a recent graduate from the University of Central Punjab (UCP) with a BS in Computer Science, I bring a strong foundation in web development and a passion for cutting-edge technologies. I have hands-on experience in WordPress development, having worked professionally as a WordPress Developer at Q.R.G, where I optimized website performance and user experience. In addition, I possess intermediate knowledge of ASP.NET, demonstrated through personal projects, and Angular 18, with this portfolio website being proof of my skills. My academic journey included a Final Year Project (FYP) focused on computer vision, and I have a growing interest in deep learning and its applications. I am eager to contribute to innovative projects and continue expanding my expertise in the tech industry.
    </p>
  </div>
</div>
</section>

  <section class="container m-t-b">
    <h1 class="title text-center p-2">Education</h1>
    <div class="row">
      <div class="col-md-6 col-12">
        <div class="about-detail">
          <i class="fa fa-book fa-2x" aria-hidden="true"></i>
      <h3 lass="mt-1 mb-0">College</h3>
      <span>Intermediate</span>
      <p class="color-p">Punjab Group of College</p>
        </div>
      </div>
      <div class="col-md-6 col-12">
        <div class="about-detail">
          <i class="fa fa-graduation-cap fa-2x" aria-hidden="true"></i>
      <h3 class="mt-1 mb-0">University</h3>
      <span>Bachelor of Computer Science</span>
      <p class="color-p">University of Central Punjab</p>
        </div>
      </div>
    </div>
  </section>
  <section class="container m-t-b">
    <h1 class="title text-center p-2">Experience</h1>
    <div class="row">
      <div class="col-md-6 col-12">
        <div class="about-detail text-start minHeight">
          <h3 class="pb-2">Q.R.G</h3>
      <h5 class="color-p">WordPress developer </h5> <h5 class="pb-2 color-p">July 2022 – Feb 2023</h5>
      <ul class="color-p">
        <li>
          Collaborated with cross-functional teams to optimize website
          performance, user experience.
        </li>
        <li>
          Skilled in creating responsive designs, optimizing site performance,
          and implementing plugins and themes.
        </li>
        <li>
          Reviewed project specifications and devised solutions for use across
          multiple websites.
        </li>
        <li>
          Conducted website performance tests, troubleshooting and upgrades.
        </li>
        <li>
          Determined timing for website product and deliverable rollout to
          maximize initiative effectiveness.
        </li>
      </ul>
        </div>
      </div>
      <div class="col-md-6 col-12">
        <div class="about-detail text-start minHeight">
          <h3 class="pb-2">Freelance</h3>
      <h5 class="color-p">Graphic Designing </h5><h5 class="pb-2 color-p"> March 2019 – 2020</h5>
      <ul class="color-p">
        <li>
          Created personalized portfolio designs according to rigorous client
          specifications.
        </li>
        <li>
          Maintained company websites updating with new products and corporate
          announcements as necessary.
        </li>
        <li>
          Prepared branding packages for point-of-sale displays, promotional
          materials and product packaging.
        </li>
        <li>
          Created corporate brands by designing cohesive looks between logos and
          letterheads.
        </li>
      </ul>
        </div>
      </div>
    </div>
  </section>
  <section class="container m-t-b">
    <h1 class="title p-2">Expertise</h1>
  <app-skill-slider/>
  </section>
  <section class="container m-t-b">
    <h1 class="title">Contact</h1>
  <app-contact-sec/>
  </section>
