<section class="s-70 pd-l-r-5 pd-t-b-2">
  <div class="row">
    <div class="p-4 col-md-6">
      <div class="">
        <h1 class="title pb-2">About</h1>
        <p class="color-p">
          As a recent graduate from the University of Central Punjab (UCP) with
          a BS in Computer Science, I bring a strong foundation in web
          development and a passion for cutting-edge technologies. With hands-on
          experience in WordPress development, I have successfully designed,
          tested, and customized websites, leveraging plugins to create visually
          appealing and highly functional sites. My academic journey also
          included a Final Year Project (FYP) centered on computer vision,
          alongside various projects utilizing the MVC framework, showcasing my
          ability to apply my skills to real-world challenges. I am eager to
          contribute to innovative projects and continue expanding my expertise
          in the tech industry.
        </p>
      </div>
    </div>
    <div class="col-md-6">
      <div class="image-box">
        <img src="assets/waqar1.webp" class="" />
      </div>
    </div>
  </div>
</section>
<section class="s-70 pd-l-r-5">
  <div class="row pd-t-b-2">
    <h1 class="text-center p-3 title">Education</h1>
    <div class="col m-2 text-center edu-cards">
      <i class="fa fa-pencil fa-2x" aria-hidden="true"></i>
      <h3 class="mt-1 mb-0">School</h3>
      <span>Matric</span>
      <p class="color-p">Nasir Higher Secondary School</p>
    </div>
    <div class="col bg-white m-2 text-center edu-cards">
      <i class="fa fa-book fa-2x" aria-hidden="true"></i>
      <h3 lass="mt-1 mb-0">College</h3>
      <span>Intermediate</span>
      <p class="color-p">Punjab Group of College</p>
    </div>
    <div class="col bg-white m-2 text-center edu-cards">
      <i class="fa fa-graduation-cap fa-2x" aria-hidden="true"></i>
      <h3 class="mt-1 mb-0">University</h3>
      <span>Bachelor of Computer Science</span>
      <p class="color-p">University of Central Punjab</p>
    </div>
  </div>
  <div class="row pd-t-b-2">
    
      <h1 class="text-center p-3 title">Experience</h1>
  
    <div class="col-6 p-4">
      <h3 class="pb-2">Q.R.G</h3>
      <h5 class="color-p pb-2">WordPress web developer |July 2022 – Feb 2023</h5>
      <ul class="color-p">
        <li>
          Collaborated with cross-functional teams to optimize website
          performance, user experience.
        </li>
        <li>
          Skilled in creating responsive designs, optimizing site performance,
          and implementing plugins and themes.
        </li>
        <li>
          Reviewed project specifications and devised solutions for use across
          multiple websites.
        </li>
        <li>
          Conducted website performance tests, troubleshooting and upgrades.
        </li>
        <li>
          Determined timing for website product and deliverable rollout to
          maximize initiative effectiveness.
        </li>
      </ul>
    </div>
    <div class="col-6 p-4">
      <h3 class="pb-2">Freelance</h3>
      <h5 class="color-p pb-2">Graphic Designing | March 2019 – 2020</h5>
      <ul class="color-p">
        <li>
          Created personalized portfolio designs according to rigorous client
          specifications.
        </li>
        <li>
          Maintained company websites updating with new products and corporate
          announcements as necessary.
        </li>
        <li>
          Prepared branding packages for point-of-sale displays, promotional
          materials and product packaging.
        </li>
        <li>
          Created corporate brands by designing cohesive looks between logos and
          letterheads.
        </li>
      </ul>
    </div>
  </div>
  <app-skill-slider></app-skill-slider>
</section>
