
<button class="dark-mode-toggle" (click)="toggleDarkMode()">
  <i class="fa" [ngClass]="isDarkMode ? 'fa fa-sun-o fa-2x' : 'fa fa-moon-o fa-2x'"></i>
</button>
<!-- Navbar header-->
<nav class="desk-nav">
  <div class="logo">
    <a routerLink="Home">Waqar Ahmad</a>
  </div>
  <div>
    <ul class="nav-links">
      <li><a routerLink="Home">Home</a></li>
      <li><a routerLink="About">About</a></li>
      <li><a routerLink="Project">Project</a></li>
      <li><a routerLink="Contact">Contact</a></li>
    </ul>
  </div>
</nav>
<!-- <nav class="nav-ham">
  <div class="logo">
    <a routerLink="Home">Waqar Ahmad</a>
  </div>
  <div class="ham-menu">
    <div>
      <i (click)="ham_toggle()" *ngIf="!ham_vissible" class="fa fa-bars fa-2x ham-icon" aria-hidden="true"></i>
      <i (click)="ham_toggle()" *ngIf="ham_vissible"class="fa fa-times fa-2x ham-icon" aria-hidden="true"></i>
    </div>
    <div *ngIf="ham_vissible">
      <ul class="menu-nav-links">
        <li><a routerLink="Home" (click)="ham_toggle()">Home</a></li>
        <li><a routerLink="About" (click)="ham_toggle()">About</a></li>
        <li><a routerLink="Project" (click)="ham_toggle()">Project</a></li>
        <li><a routerLink="Contact" (click)="ham_toggle()">Contact</a></li>
      </ul>
    </div>
  </div>
</nav> -->
<!-- mobile view navbar -->
 <section class="container mbl align-content-center">
  <div class="row mbl-upper">
    <div class="col-10 title text-start">
      <a routerLink="Home">Waqar Ahmad</a>
    </div>
    <div class="col-2 align-content-center">
      <i (click)="ham_toggle()" *ngIf="!ham_vissible" class="fa fa-bars fa-2x ham-icon" aria-hidden="true"></i>
      <i (click)="ham_toggle()" *ngIf="ham_vissible"class="fa fa-times fa-2x ham-icon" aria-hidden="true"></i>
    </div>
  </div>
</section>
<section class="container-fluid">
  <div *ngIf="ham_vissible"class="col-12 mbl-nav text-center" >
    <ul class="">
      <li><a routerLink="Home" (click)="ham_toggle()">Home</a></li>
      <li><a routerLink="About" (click)="ham_toggle()">About</a></li>
      <li><a routerLink="Project" (click)="ham_toggle()">Project</a></li>
      <li><a routerLink="Contact" (click)="ham_toggle()">Contact</a></li>
    </ul>
</div>
</section>

<!-- Navbar header-->

  <router-outlet></router-outlet>


<!-- Navbar footer -->
 <footer>
    <p>Copyright &#169; 2024 Waqar Ahmad. All Rights Reserved.</p>
  
</footer>


<!-- Navbar footer -->


