@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");
p{
  font-family: "Poppins", sans-serif;
}
a,
.btn {
  transition: all 400ms ease;
}
/* DESKTOP NAV */

nav,
.nav-links {
  display: flex;
}
nav {
  justify-content: space-around;
  align-items: center;
  height: 17vh;
}
.nav-links {
  gap: 2rem;
  list-style: none;
  font-size: 1.5rem;
  margin-top: 20px;
}


.nav-links a {
  color: black;
  text-decoration: none;
  text-decoration-color: white;
}

.nav-links a:hover {
  color: grey;
  text-decoration: underline;
  text-underline-offset: 1rem;
  text-decoration-color: rgb(181, 181, 181);
}

.logo a {
  font-size: 2rem;
  color: black;
  text-decoration: none;
  text-decoration-color: white;

}


.nav-ham{
  display: none;
}

.ham-menu {
    position: relative;
    display: inline-block;
  }
  .ham-icon {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 24px;
    width: 30px;
    cursor: pointer;
  }

  .ham-icon:hover{
    color: grey;
  }

  .mbl{
    height: 17vh;
    align-content: center;
    display: none;
    background-color: white;
    position: sticky;
    top: 0%;
    z-index: 1;
  }
 
  .title a{
    text-decoration: none;
    color: black;
  }
  .mbl-nav {
    text-align: center;
    background-color: white;
    height: 83vh;
    width: 60vw;
    position: fixed;
    top: 17%;
    right: -300px;
    transition: transform 0.5s ease-in-out;
    z-index: 2;
  }
  
  .mbl-nav.active {
    transform: translateX(-300px);
  }
  
  .mbl-nav ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
  }
  
  .mbl-nav ul li {
    margin: 3rem 0;
    font-weight: 400;
    font-size: 2rem;

  }
  .mbl-nav ul li a{
    text-decoration: none;
    color: black;
  }
  
  footer {
    margin-bottom: 0;
background-color: rgba(234, 234, 234, 0.491);
padding: 3rem;
  }
  
  footer p {
    text-align: center;
  }
  


/**/
/**/



/*media query*/
@media screen and (max-width:900px) {
    .desk-nav{
        display: none;
    }
    .nav-ham{
      display: flex;
    }
    .mbl{
      display: block;
    }
    
}
.dark-mode-toggle {
  position: fixed;
  bottom: 20px;
  left: 3%;
  background-color: #BB86FC; 
  color: #121212; 
  border: none;
  border-radius: 50%; 
  width: 50px; 
  height: 50px; 
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: background-color 0.3s ease;
  z-index: 5;
}

.dark-mode-toggle:hover {
  background-color: #6200EE;
}
