<div class="row text-center justify-content-center">
    <div class="col-4 bg border-detail">
        <a href="mailto:wa.ahmad1999@gmail.com">
            <i class="icon email-icon fa fa-envelope fa-1x"></i>
            <span>Waqar's Mail</span>
          </a>
          <a href="https://www.linkedin.com/in/waqar-ahmad-59075a252" target="_blank" rel="noopener noreferrer">
            <i class="fa fa-linkedin-square fa-1x icon"></i>
            <span>LinkedIn</span>
          </a>
    </div>
</div>