<!-- first section of hompage / hero box -->
<section class="profile">
  <div class="section__pic-container">
    <img src="assets/profilepic.png" alt="Waqar Ahmad profile picture" />
  </div>
  <div class="section__text">
    <p class="section__text__p1">Hello, I'm</p>
    <h1 class="title">Waqar Ahmad</h1>
    <p class="section__text__p2">Frontend Developer</p>
    <div class="button-container">
      <button class="button button-color-2" (click)="downloadFile()">
        Download CV
      </button>
      <button class="button button-color-1" [routerLink]="['/Contact']">
        Contact Info
      </button>
    </div>
    <div id="socials-container">
        <a href="https://www.linkedin.com/in/waqar-ahmad-59075a252" target="_blank" rel="noopener noreferrer">
            <i class="fa fa-linkedin-square fa-3x icon" aria-hidden="true"></i>
          </a>
          <a href="https://github.com/waqarahmad30" target="_blank" rel="noopener noreferrer">  
      <i class="fa fa-github fa-3x icon" aria-hidden="true"></i>
          </a>
    </div>
  </div>
</section>
 <!-- ends here -->



<!-- 2nd  section of hompage / About me  -->
<app-about-section></app-about-section>
 <!-- ends here -->


  <!-- 3rd section of hompage / skills  -->
<app-skill-slider></app-skill-slider>
 <!-- ends here -->



<!-- 4th section of hompage / projects  -->
<section class="project">
  <div class="project-heading">
  <p class="section__text__p1 section__text">Browse My Recent</p>
    <h1 class="title">Projects</h1>
  </div>
    <app-project-section></app-project-section>
</section>
<!-- ends here -->


<!-- 5th section of hompage / contact  -->
<section class="contact-section">
  <p class="section__text__p1">Get in Touch</p>
  <h1 class="title">Contact Me</h1>
  <div class="d-flex justify-content-center mb-3">
    <div class="d-flex contact-div-col">
      <div class="exa">
        <a href="mailto:wa.ahmad1999@gmail.com">
          <i class="icon contact-icon email-icon fa fa-envelope fa-1x"></i>
          <span>Waqar's Mail</span>
        </a>
      </div>
      <div class="exa">
        <a href="https://www.linkedin.com/in/waqar-ahmad-59075a252" target="_blank" rel="noopener noreferrer">
          <i class="fa fa-linkedin-square fa-1x icon contact-icon"></i>
          <span>LinkedIn</span>
        </a>
      </div>
    </div>
  </div>
  
</section>
 <!-- ends here -->
