
  /* important after bootstrap*/
  
  .pic-container{
    display: flex !important;
    justify-content: center !important;

  }
  .section__pic-container {
    display: flex !important;
    justify-content: center !important;
    height: 400px;
    width: 400px;
}
 /* ICONS */
  
 .icon {
  cursor: pointer;
  color: rgb(53, 53, 53);
}
.icon:hover{
  border-color: black;
  color: rgb(85, 85, 85);
}
/* ICONS ends*/
/* text */

/* text ends */
/* BUTTONS */
  
.button-container {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.button {
  font-weight: 600 !important;
  transition: all 300ms ease !important;
  padding: 1rem !important;
  border-radius: 2rem !important;
}

.button-color-1,
.button-color-2 {
  border: rgb(53, 53, 53) 0.1rem solid !important;
}

.button-color-1:hover,
.button-color-2:hover {
  cursor: pointer !important;
}

.button-color-1,
.button-color-2:hover {
  background: rgb(53, 53, 53) !important;
  color: white !important;
}

.button-color-1:hover {
  background: rgb(0, 0, 0) !important;
}

.button-color-2 {
  background: none !important;
}

.button-color-2:hover {
  border: rgb(255, 255, 255) 0.1rem solid !important;
}

.button-container {
  gap: 1rem !important;
}
/*buttons ends*/
/*media query*/
@media screen and (max-width:768px) {
  .section__pic-container {
    height: 300px;
  }
}
@media screen and (max-width:375px) {
  .section__pic-container {
    height: 250px;
  }
}
  /* important after bootstrap ends*/

