@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


 *{
    margin: 0px;
    padding: 0px;
    font-family: "Poppins", sans-serif;
    scroll-behavior: smooth;

} 
p {
    color: rgb(85, 85, 85);}
.m-t-b{
        margin-top: 6rem;
        margin-bottom: 2rem;
      }

      .title {
        font-size: 3rem;
        text-align: center;
      }
      .section__text__p1 {
        text-align: center;
        color: rgb(85, 85, 85);
        font-weight: 600;
      }
      .section__text__p2 {
        font-size: 1.75rem;
        margin-bottom: 1rem;
        color: rgb(85, 85, 85);
        font-weight: 600;
      }
      /*media query*/
@media screen and (max-width:768px) {
    
    .section__text__p2 {
      font-size: 1rem;
      margin-bottom: 0.5rem;
    }
    .title {
      font-size: 2rem;
      text-align: center;
    }
    .m-t-b{
      margin-top: 5rem;
      margin-bottom: 2rem;
    }
  }
  @media screen and (max-width:375px) {
    .m-t-b{
      margin-top: 2rem;
      margin-bottom: 2rem;
    }
  }